
@import 'bootstrap/scss/bootstrap';

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-image: url('../img/bosco.jpg');
    background-size: cover;
    font-family: "Roboto", sans-serif;
}

.badge-container {
    position: relative;
    display: inline-block;
}

.alert-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}
@import './partials/_aside.scss';
